h1 { 
color: black; 
font-weight: normal; 
font-size: 300%; 
text-align: center; } 
h2 { 
color: black; 
font-weight: normal; 
font-size: 230%; 
padding-left: 13%; }
body { 
background-color: #FCA9AE; 
margin: 0; }
div { 
display: flex; 
align-items: center; 
justify-content: center; }
p { 
color: black; 
font-weight: normal; 
font-size: 120%; 
padding-left: 2%; }
li { 
display: inline-block; 
background:	#FBCACA; 
margin-right: 1%; 
transform: skewX(-15deg); }
a { 
color: black; 
display: block; 
padding: 15px 45px; 
text-decoration: none; 
transform: skewX(15deg); }
li:hover { background: #F16F77; }
